body {
  background-image: url('images/fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'BebasNeue', sans-serif;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  
.container {
  max-width: 500px;
  width: 70%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0px 8px 16px 4px rgba(5, 5, 5, 5);
  text-align: center;
}

    h1 {
      color: #a81212;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.5em;
      color: #685454;
      margin-bottom: 30px;
      font-family: 'Alumni Sans', sans-serif;
    }

    button {
      background-color: #af1717;
      color: rgb(255, 255, 255);
      border: none;
      padding: 15px 30px;
      border-radius: 9px;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #e24343;
    }

    @font-face {
      font-family: 'BebasNeue';
      src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
    }
    